.scrollbar {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 4px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&::-webkit-scrollbar-thumb {
		background: #d3d3d3;
		height: 10px;
		border-radius: 4px;
		border-bottom-right-radius: 0;
		&:hover {
			background: #a9a9a9;
			cursor: pointer;
			transition: 0.15s ease-in-out;
			transition-delay: 0.15s;
		}
	}
}
.scrollbar.horizontal {
	overflow-x: auto;
}

.lendsqr-dashboard__layout {
	&--body {
		display: flex;
	}
}
