*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213f7d;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

.logo__container {
  display: flex;
  align-items: baseline;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-flow: column nowrap;
}

.align-center {
  align-items: center;
}

.bg-white {
  background-color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.gap_5 {
  gap: 5px;
}

.gap_8 {
  gap: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.border-radius_8 {
  border-radius: 8px;
}

.position-relative {
  position: relative;
}

.spacer_10 {
  margin: 10px 0px;
}

.spacer_20 {
  margin: 20px 0px;
}

.spacer_30 {
  margin: 30px 0px;
}

.spacer_40 {
  margin: 40px 0px;
}

.spacer_50 {
  margin: 50px 0px;
}

.spacer_60 {
  margin: 60px 0px;
}

.margin_top_5 {
  margin-top: 5px;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_top_50 {
  margin-top: 50px;
}

.align-middle {
  text-align: center;
}

.app__badge {
  border-radius: 30px;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}
.app__badge--active {
  background: rgba(57, 205, 99, 0.0862745098);
  color: #39cd62;
  padding: 8px 10px;
}
.app__badge--pending {
  background: rgba(233, 179, 0, 0.1058823529);
  color: #e9b200;
  padding: 8px 10px;
}
.app__badge--inactive {
  background: rgba(84, 95, 125, 0.1098039216);
  color: #545f7d;
  padding: 8px 10px;
}
.app__badge--blacklisted {
  background: rgba(228, 3, 59, 0.1215686275);
  color: #e4033b;
  padding: 8px 10px;
}

.ellipsis {
  cursor: pointer;
}

.h-full {
  height: 100vh;
}

.h-50 {
  height: 50vh;
}

.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
}
.loader .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: #213f7d;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}
.loader .loader-square:nth-of-type(0) {
  animation-delay: 0s;
}
.loader .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}
.loader .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}
.loader .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}
.loader .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}
.loader .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}
.loader .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}
.loader .loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 32px;
    top: 0;
  }
  23% {
    left: 32px;
    top: 0;
  }
  25% {
    left: 64px;
    top: 0;
  }
  35.5% {
    left: 64px;
    top: 0;
  }
  37.5% {
    left: 64px;
    top: 32px;
  }
  48% {
    left: 64px;
    top: 32px;
  }
  50% {
    left: 32px;
    top: 32px;
  }
  60.5% {
    left: 32px;
    top: 32px;
  }
  62.5% {
    left: 32px;
    top: 64px;
  }
  73% {
    left: 32px;
    top: 64px;
  }
  75% {
    left: 0;
    top: 64px;
  }
  85.5% {
    left: 0;
    top: 64px;
  }
  87.5% {
    left: 0;
    top: 32px;
  }
  98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.dot-spinner .dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.dot-spinner .dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%, 100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.app__form--field {
  margin: 15px 0;
}
.app__form--field input,
.app__form--field textarea {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #545f7d;
}
.app__form--field input::-moz-placeholder, .app__form--field textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray);
  opacity: 0.6;
}
.app__form--field input::placeholder,
.app__form--field textarea::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray);
  opacity: 0.6;
}
.app__form--field input:focus {
  border-width: 2px;
  border-color: #213f7d;
}
.app__form--field textarea {
  resize: none;
}
.app__form--field select:focus {
  border: 1px solid rgba(229, 229, 229, 0.2549019608);
  box-shadow: none;
}
.app__form--field.has_error input, .app__form--field.has_error textarea, .app__form--field.has_error select {
  border: 1px solid #dc3545;
}
.app__form--field-error {
  font-size: 12px;
  color: #dc3545;
}
.app__form--field .reveal {
  position: absolute;
  right: 12px;
  font-size: 12px;
  top: 50%;
  bottom: 0;
  margin: auto;
  transform: translateY(-30%);
  color: #39cdcc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header__logo {
  flex-basis: 20%;
}
.header__logo .dashboard__logo {
  width: 104px;
  height: 36px;
}
.header__search {
  margin-right: unset;
  display: none;
}
.header__search--form {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.header__search--form input {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px 0px 0px 8px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  height: 100%;
  flex-basis: 90%;
  padding: 0 12px;
}
.header__search--form input::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray);
  opacity: 0.6;
}
.header__search--form input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: var(--light-gray);
  opacity: 0.6;
}
.header__search--form button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 100%;
  width: 100%;
  background: #39cdcc;
  outline: none;
  border: none;
  border-radius: 0px 8px 8px 0px;
}
.header__search--form button img {
  color: #ffffff;
  width: 13.97px;
  height: 14px;
}
.header__profile--wrapper {
  display: flex;
  flex-basis: 18%;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.header__profile--docs {
  display: none;
  color: #213f7d;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 500;
}
.header__profile--alert {
  display: none;
  width: 26px;
  height: 26px;
}
.header__profile--alert img {
  width: 100%;
  height: 100%;
}
.header__profile--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  gap: 2%;
  font-weight: 500;
}
.header__profile--container .header__profile__pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.header__profile--container .header__profile__pic img {
  width: 100%;
  height: 100%;
}
.header__menu--container button {
  border: none;
  background-color: #39cdcc;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu--container button svg {
  color: white;
}

@media (min-width: 640px) {
  .header__logo {
    flex-basis: 10%;
  }
  .header__logo .dashboard__logo {
    width: 144px;
  }
  .header__search {
    display: block;
  }
  .header__search--form {
    width: 300px;
  }
  .header__search--form input {
    flex-basis: 70%;
  }
  .header__search--form button {
    flex-basis: 20%;
  }
}
@media (min-width: 1024px) {
  .header__logo {
    flex-basis: 20%;
  }
  .header__logo .dashboard__logo {
    width: 174px;
  }
  .header__search {
    margin-right: auto;
    display: block;
  }
  .header__search--form {
    width: 400px;
  }
  .header__search--form input {
    flex-basis: 85%;
  }
  .header__search--form button {
    flex-basis: 15%;
  }
  .header__profile--wrapper {
    flex-basis: 22%;
  }
  .header__profile--docs {
    display: block;
  }
  .header__profile--alert {
    display: block;
  }
  .header__menu--container {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    flex-basis: 25%;
  }
  .header__profile--wrapper {
    flex-basis: 18%;
  }
  .header__profile--docs {
    display: block;
  }
  .header__profile--alert {
    display: block;
  }
}
.sidebar__wrapper {
  flex-basis: 283px;
  width: 100%;
  height: 88.7vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 4px;
  position: absolute;
  transform: translateX(-150%);
  background-color: white;
  transition: transform 1s ease-in-out;
  z-index: 500;
}
.sidebar__wrapper.active {
  transform: translateX(0);
}
.sidebar__nav {
  display: flex;
  flex-flow: column nowrap;
}
.sidebar__nav--group-header {
  text-transform: uppercase;
  font-weight: 450;
  padding-left: 20px;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}
.sidebar__nav--link {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 35px;
  gap: 3%;
  color: #213f7d;
  opacity: 0.7;
  padding: 19px;
}
.sidebar__nav--link:hover {
  opacity: 1;
}
.sidebar__nav .active {
  opacity: 1;
  color: black;
  border-left: 4px solid #39cdcc;
  background-color: rgba(57, 205, 205, 0.1019607843);
}

@media (min-width: 1024px) {
  .sidebar__wrapper {
    position: unset;
    transform: translateX(0);
    transition: none;
  }
}
.dashboard__main--content {
  flex: 1;
  background-color: rgba(229, 229, 229, 0.2549019608);
  width: 100%;
  height: 88.7vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

@media (min-width: 640px) {
  .dashboard__main--content {
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  .dashboard__main--content {
    padding: 30px 50px;
  }
}
@media (min-width: 1280px) {
  .dashboard__main--content {
    padding: 30px 70px;
  }
}
.users__card--container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 1%;
  overflow-x: auto;
}

.info-card__container {
  background-color: white;
  flex-basis: 48%;
  width: 100%;
  height: 160px;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 15px;
}
.info-card__img--container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.info-card__title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 550;
}
.info-card__total {
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 640px) {
  .info-card__container {
    flex-basis: 48%;
  }
}
@media (min-width: 1024px) {
  .info-card__container {
    flex-basis: 48%;
  }
}
@media (min-width: 1280px) {
  .info-card__container {
    flex-basis: 23%;
    width: 240px;
  }
}
.dashboard__table {
  padding: 30px;
  background-color: #fff;
}
.dashboard__table table {
  min-width: 1037px;
  width: 100%;
  min-height: -moz-max-content;
  min-height: max-content;
  border-collapse: collapse;
}
.dashboard__table tbody tr {
  position: relative;
  height: 60px;
  border-bottom: 2px solid rgba(222, 222, 222, 0.7647058824);
}
.dashboard__table th {
  font-size: 14px;
  font-weight: 600;
  border-bottom-width: 0;
  text-align: left;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
}
.dashboard__table th button {
  background-color: transparent;
  border: none;
  padding: 3px;
  cursor: pointer;
}
.dashboard__table th button img {
  width: 16px;
  height: 16px;
  margin-bottom: -5px;
}
.dashboard__table td {
  font-size: 14px;
}
.dashboard__table--filter__modal {
  top: 90px;
  width: 270px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2274509804);
  border-radius: 4px;
}
.dashboard__table .users-filter__input--container {
  margin: 20px 0;
}
.dashboard__table .users-filter__input--container input,
.dashboard__table .users-filter__input--container select {
  height: 40px;
  border-radius: 8px;
  width: 100%;
  color: #545f7d;
}
.dashboard__table .users-filter__input--container select {
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-weight: 500;
  font-size: 14px;
  padding: 0 12px;
  outline-color: #213f7d;
  color: #545f7d;
}
.dashboard__table .users-filter__input--container label {
  color: #545f7d;
}
.dashboard__table .users-filter__btn--container {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}
.dashboard__table .users-filter__btn--container button {
  padding: 10px 20px;
  font-weight: 550;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
.dashboard__table .users-filter__btn--container .reset__btn {
  color: #545f7d;
  border: 2px solid #545f7d;
}
.dashboard__table .users-filter__btn--container .filter__btn {
  background-color: #39cdcc;
  border: 2px solid #39cdcc;
}
.dashboard__table .users__action--wrapper {
  right: -30px;
  top: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 12px rgba(222, 222, 222, 0.7647058824);
  width: 180px;
  height: 130px;
  z-index: 10;
  font-size: 14px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.dashboard__table .users__action--container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.dashboard__table .users__action--container li {
  padding: 9px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table__pagination {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.table__pagination--size {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table__pagination--size p {
  font-size: 16px;
}
.table__pagination--select {
  width: 70px;
  height: 40px;
}
.table__pagination--select select {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(33, 64, 125, 0.1098039216);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}
.table__pagination--ctrl {
  display: flex;
  margin-top: 2rem;
}
.table__pagination--ctrl .btn {
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
}
.table__pagination--ctrl .btn img {
  width: 100%;
  height: 100%;
}
.table__pagination--ctrl--nos button {
  opacity: 0.6;
  font-weight: 500;
  cursor: pointer;
}
.table__pagination--ctrl--nos .active {
  opacity: 1;
  font-weight: 550;
}

@media (min-width: 640px) {
  .table__pagination {
    flex-flow: row;
  }
  .table__pagination--select {
    width: 70px;
    height: 30px;
  }
  .table__pagination--select select {
    font-size: 14px;
  }
  .table__pagination--ctrl {
    margin-top: 0;
  }
}
.modal--container {
  padding: 30px;
  position: absolute;
}
.modal--container__active {
  display: block;
}
.modal--container__inactive {
  display: none;
}

.scrollbar {
  overflow-y: auto;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  height: 10px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
  cursor: pointer;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  transition-delay: 0.15s;
}

.scrollbar.horizontal {
  overflow-x: auto;
}

.lendsqr-dashboard__layout--body {
  display: flex;
}

.signin-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
}
.signin-container__banner--background {
  background: rgba(229, 229, 229, 0.1803921569);
  flex-basis: 50%;
  display: none;
}
.signin-container__banner--wrapper {
  padding: 0 67px;
  display: flex;
  height: 64vh;
  margin: 100px 0;
  justify-content: space-between;
  flex-flow: column nowrap;
}
.signin-container__banner--wrapper .signin__logo--Container {
  margin-left: 35px;
}
.signin-container__banner--wrapper img {
  width: 100%;
  max-width: 600px;
  height: 337.67px;
  mix-blend-mode: multiply;
}
.signin-container__form--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
  height: 97vh;
}
.signin-container .app__login--header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 60%;
  margin: 40px 0;
}
.signin-container .app__login--header h1 {
  margin: 12px 0;
}
.signin-container .app__login-form {
  width: 80%;
}
.signin-container .app__login-form--password__fgt {
  letter-spacing: 3px;
  font-size: 13px;
  color: #39cdcc;
  text-transform: uppercase;
  margin: 25px 0;
}
.signin-container .app__login-form button {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39cdcc;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;
}

@media (min-width: 640px) {
  .signin-container__form--wrapper {
    flex-basis: 75%;
  }
}
@media (min-width: 1024px) {
  .signin-container__banner--background {
    display: block;
  }
  .signin-container__form--wrapper {
    flex-basis: 50%;
  }
}
@media (min-width: 1280px) {
  .signin-container__banner--background {
    flex-basis: 55%;
  }
  .signin-container__banner--wrapper img {
    width: 600px;
  }
  .signin-container__form--wrapper {
    flex-basis: 45%;
  }
  .signin-container .app__login-form {
    width: 60%;
  }
}
.user-details__go-back--btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.user-details__go-back--btn span {
  font-size: 16px;
  color: #213f7d;
}
.user-details__action--container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
}
.user-details__action--btn-container {
  display: flex;
  gap: 15px;
  margin-top: 1.5rem;
}
.user-details__action--btn-container button {
  width: 170px;
  height: 40px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid;
  font-weight: 550;
  background-color: transparent;
  cursor: pointer;
}
.user-details__action--btn-container .blacklist {
  color: #e4033b;
  border-color: #e4033b;
}
.user-details__action--btn-container .activate {
  color: #39cd62;
  border-color: #39cd62;
}
.user-details__header {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 3%;
}
.user-details__header--img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(222, 222, 222, 0.7647058824);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-details__header--img-container img {
  width: 40px;
  height: 40px;
}
.user-details__header--name-container {
  height: 100%;
  margin: 5px;
  text-align: center;
}
.user-details__header--name-container p {
  font-size: 14px;
}
.user-details__header--tier-container {
  position: relative;
  text-align: center;
  flex-basis: 12%;
}
.user-details__header--tier-container::before, .user-details__header--tier-container::after {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: rgba(84, 95, 125, 0.1764705882);
  top: 0;
}
.user-details__header--tier-container::before {
  left: 0;
}
.user-details__header--tier-container::after {
  right: 0;
  width: 1px;
}
.user-details__header--finance-container {
  text-align: center;
}
.user-details__header--finance-container p {
  font-size: 12px;
}
.user-details__header--tab-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 2%;
  max-width: 500%;
  overflow-x: auto;
}
.user-details__header--tab-container button {
  background-color: transparent;
  white-space: nowrap;
  flex-basis: 50%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.user-details__header--tab-container__active {
  color: #39cdcc;
  text-decoration: underline;
  text-underline-offset: 9px;
}
.user-details__info--wrapper {
  padding-top: 20px;
  padding-bottom: 12px;
}
.user-details__info--wrapper.underline {
  border-bottom: 2px solid rgba(222, 222, 222, 0.7647058824);
}
.user-details__info--container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  gap: 2%;
}
.user-details__info--container__card {
  flex-basis: 18.4%;
  margin: 20px 0;
}
.user-details__info--container__personal-card {
  flex-basis: 18.4%;
  margin: 15px 0;
}
.user-details__info--container__education-card {
  flex-basis: 29%;
  margin: 15px 0;
}

.white__bg {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  background-color: #fff;
}

.info__bold {
  font-weight: 550;
}

.gold__fill {
  fill: #e9b200;
}

@media (min-width: 640px) {
  .user-details__action--container {
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
  }
  .user-details__action--btn-container {
    margin-top: 0;
  }
  .user-details__header {
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 3%;
  }
  .user-details__header--img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(222, 222, 222, 0.7647058824);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-details__header--img-container img {
    width: 40px;
    height: 40px;
  }
  .user-details__header--name-container {
    text-align: left;
  }
  .user-details__header--tier-container {
    flex-basis: 18%;
  }
  .user-details__header--tier-container::before, .user-details__header--tier-container::after {
    content: "";
  }
  .user-details__header--tab-container {
    gap: 3%;
  }
  .user-details__header--tab-container button {
    flex: 15%;
  }
  .user-details__info--container {
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .user-details__info--container__personal-card {
    flex-basis: 16%;
  }
  .user-details__info--container__education-card {
    flex-basis: 20%;
  }
}/*# sourceMappingURL=main.css.map */